
@font-face {
    font-family: 'videoGame';
    src: url('pressstart2p-webfont.woff2') format('woff2'),
         url('pressstart2p-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$red: #f7401c;
$light-green: #befa21;